@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(font/OpenSansCondensedLight.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(font/OpenSansCondensedBold.woff) format('woff');
}

body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

div {
    display: inline-block;
    box-sizing: border-box;
}

div.dashboard {
    width: 100%;
    padding: 0 0 25px 0;
    margin: 0;
}

div.dashboard > div.hb {
    padding: 8px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

div.dashboard > div.hb.off {
    opacity: 0.5;
}

div.auto {
    background-color: #ffff77;
}

div.record {
    background-color: #ff7777;
}

div.dashboard > div.main {
    width: 50%;
}

div.dashboard > div.board {
    width: 50%;
    vertical-align: middle;
}

div.dashboard > div.board > div {
    width: 100%;
}

div.dashboard div.time {
    padding: 5px;
    vertical-align: middle;
}

div.dashboard div.time > div {
    text-align: right;
}

div.dashboard div.time > div:nth-child(1) {
    width: 60%;
    font-size: 0.8em;
    font-weight: bold;
}

div.dashboard div.time > div:nth-child(2) {
    width: 40%;
    font-size: 1.3em;
}

div.dashboard div.big {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
}

div.dashboard div.big > div {
    width: 100%;
    text-align: right;
}

div.dashboard div.big > div:nth-child(1) {
    font-weight: bold;
    font-size: 1.3em;
}

div.dashboard div.big > div:nth-child(2) {
    font-size: 3em;
}

div.dashboard div.big span.green {
    color: #88ee88
}

div.dashboard div.big span.yellow {
    color: #eeee88
}

div.dashboard div.big span.red {
    color: #ee8888
}

div.dashboard > div.info {
    width: 100%;
    padding-top: 20px;
}

div.dashboard > div.info > div {
    width: 100%;
    text-align: center;
    display: none;
}

div.dashboard > div.info > div.on {
    display: inline-block;
}

div.dashboard > div.info div.section {
    width: 25%;
}

div.dashboard > div.info div.section > div {
    width: 100%;
}

div.dashboard > div.info div.section > div:nth-child(1) {
    font-weight: bold;
}

table.timetable {
    width: 100%;
    border-spacing: 0;
    font-size: 0.95em;
    padding: 0 5px;
}

table.timetable tr {
    height: 32px;
}

table.timetable th,
table.timetable td{
    padding: 5px;
}

table.timetable > tbody > tr > td:nth-child(1) {
    text-align: right;
}

table.timetable > tbody > tr > td:nth-child(2),
table.timetable > tbody > tr > td:nth-child(3),
table.timetable > tbody > tr > td:nth-child(4) {
    text-align: center;
}


table.timetable tr.prev {
    opacity: 0.5;
}

table.timetable tr.disabled,
table.timetable tr.disabled input {
    background-color: #d4d4d4;
}

table.timetable tr.holiday,
table.timetable tr.holiday input {
    background-color: #d4d4d4;
}

table.timetable tr.today,
table.timetable tr.today input {
    background-color: #f7ffbc;
}

table.timetable tr.today > td:first-child {
    color: #b25555;
    font-weight: bold;
}

table.timetable tr.expired,
table.timetable tr.expired input {
    background-color: #a2beda;
}

table.timetable > tfoot > tr:last-child > td {
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

.clk {
    cursor: pointer;
}

input {
    border: 0;
}