body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

div {
    display: inline-block;
    box-sizing: border-box;
}

div.dashboard {
    width: 100%;
    padding: 0 0 25px 0;
    margin: 0;
}

div.dashboard > div.hb {
    height: 30px;
    padding: 5px;
    width: 50%;
    text-align: center;
    font-weight: bold;
}

div.dashboard > div.hb.off {
    opacity: 0.5;
}

div.auto {
    background-color: #ffff77;
}

div.record {
    background-color: #ff7777;
}

div.dashboard > div.main {
    width: 50%;
}

div.dashboard > div.board {
    width: 50%;
    vertical-align: middle;
}

div.dashboard > div.board > div {
    width: 100%;
}

div.dashboard div.time {
    padding: 5px;
    vertical-align: middle;
}

div.dashboard div.time > div {
    text-align: right;
}

div.dashboard div.time > div:nth-child(1) {
    width: 40%;
    font-size: 0.8em;
    font-weight: bold;
}

div.dashboard div.time > div:nth-child(2) {
    width: 60%;
    font-size: 1.3em;
}

div.dashboard div.big {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
}

div.dashboard div.big > div {
    width: 100%;
    text-align: right;
}

div.dashboard div.big > div:nth-child(1) {
    font-weight: bold;
    font-size: 1.3em;
}

div.dashboard div.big > div:nth-child(2) {
    font-size: 3em;
}

div.dashboard div.big span.green {
    color: #88ee88
}

div.dashboard div.big span.yellow {
    color: #eeee88
}

div.dashboard div.big span.red {
    color: #ee8888
}


table.timetable {
    width: 100%;
    border-spacing: 0;
    font-size: 0.95em;
}

table.timetable tr {
    height: 32px;
}

table.timetable > tbody > tr > td:nth-child(2),
table.timetable > tbody > tr > td:nth-child(3),
table.timetable > tbody > tr > td:nth-child(4) {
    text-align: center;
}


table.timetable tr.disabled,
table.timetable tr.disabled input {
    background-color: #d4d4d4;
}

table.timetable tr.today,
table.timetable tr.today input {
    background-color: #f6f6d4;
}

table.timetable tr.expired,
table.timetable tr.expired input {
    background-color: #d4d4f6;
}

.clk {
    cursor: pointer;
}

input {
    border: 0;
}